body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:680px;
  height:150px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:150px;
}
#u1 {
  position:absolute;
  left:2px;
  top:67px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:300px;
  top:31px;
  width:117px;
  height:28px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:24px;
  top:122px;
  width:16px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  visibility:hidden;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:250px;
  top:95px;
  width:200px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:460px;
  top:95px;
  width:60px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:20px;
  top:198px;
  width:276px;
  height:63px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:63px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:150px;
  top:290px;
  width:366px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:150px;
  top:290px;
  width:320px;
  height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:544px;
  top:292px;
  width:32px;
  height:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:20px;
  top:293px;
  width:97px;
  height:15px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:150px;
  top:495px;
  width:366px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:150px;
  top:495px;
  width:186px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:544px;
  top:497px;
  width:32px;
  height:15px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:20px;
  top:498px;
  width:97px;
  height:15px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:20px;
  top:460px;
  width:121px;
  height:16px;
  font-size:14px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:150px;
  top:535px;
  width:366px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:20px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:150px;
  top:535px;
  width:264px;
  height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:20px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:544px;
  top:537px;
  width:32px;
  height:15px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:20px;
  top:538px;
  width:114px;
  height:15px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:15px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:20px;
  top:350px;
  width:106px;
  height:15px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:20px;
  top:380px;
  width:220px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:10px;
  top:589px;
  width:680px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:680px;
  height:1px;
}
#u41 {
  position:absolute;
  left:288px;
  top:609px;
  width:125px;
  height:31px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:31px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:640px;
  top:603px;
  width:50px;
  height:31px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:31px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
