body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:680px;
  height:150px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:150px;
}
#u1 {
  position:absolute;
  left:2px;
  top:67px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:300px;
  top:31px;
  width:118px;
  height:28px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:24px;
  top:122px;
  width:16px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  visibility:hidden;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:250px;
  top:95px;
  width:200px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:460px;
  top:95px;
  width:60px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:10px;
  top:190px;
  width:680px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:680px;
  height:1px;
}
#u9 {
  position:absolute;
  left:288px;
  top:210px;
  width:125px;
  height:31px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:31px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:640px;
  top:205px;
  width:50px;
  height:31px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:31px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
